<div class="row mt-3" *ngFor="let productChunk of productChunks">
  <div class="col-md-4 d-flex align-items-stretch" *ngFor="let product of productChunk">
    <div class="card">
      <img class="card-img-top img-responsive" [src]="product.imagePath" [alt]="product.title" style="height: 200px; padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <ul class="specifications" [innerHTML]="product.specification"></ul>
        <div class="d-flex justify-content-between align-items-center">
          <div class="price">{{ product.price | currency }}</div>
          <a href="#" class="btn btn-info" role="button">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>