<div class="row mt-4">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top img-responsive" src="assets/products/lg-32lm560bptc-original-imafjydmy5rwcdw7.jpeg" alt="Card image cap" style="height: 200px; padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">Mi 4A PRO 80 cm (32) HD Ready LED Smart Android TV</h5>
        <ul class="specifications">
          <li>Netflix|Prime Video|Hotstar|Youtube</li>
          <li>Operating System: Android</li>
          <li>HD Ready 1366 x 768 Pixels</li>
          <li>20 W Speaker Output</li>
          <li>60 Hz Refresh Rate</li>
          <li>3 x HDMI | 2 x USB</li>
          <li>1 Year Warranty on Product and Additional 1 Year Warranty on Panel</li>
        </ul>
        <div class="d-flex justify-content-between align-items-center">
          <div class="price">₹12,499</div>
          <a href="#" class="btn btn-info" role="button">Buy</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top img-responsive" src="assets/products/lg-32lm560bptc-original-imafjydmy5rwcdw7.jpeg" alt="Card image cap" style="height: 200px; padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">Mi 4A PRO 80 cm (32) HD Ready LED Smart Android TV</h5>
        <ul class="specifications">
          <li>Netflix|Prime Video|Hotstar|Youtube</li>
          <li>Operating System: Android</li>
          <li>HD Ready 1366 x 768 Pixels</li>
          <li>20 W Speaker Output</li>
          <li>60 Hz Refresh Rate</li>
          <li>3 x HDMI | 2 x USB</li>
          <li>1 Year Warranty on Product and Additional 1 Year Warranty on Panel</li>
        </ul>
        <div class="d-flex justify-content-between align-items-center">
          <div class="price">₹12,499</div>
          <a href="#" class="btn btn-info" role="button">Buy</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top img-responsive" src="assets/products/lg-32lm560bptc-original-imafjydmy5rwcdw7.jpeg" alt="Card image cap" style="height: 200px; padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">Mi 4A PRO 80 cm (32) HD Ready LED Smart Android TV</h5>
        <ul class="specifications">
          <li>Netflix|Prime Video|Hotstar|Youtube</li>
          <li>Operating System: Android</li>
          <li>HD Ready 1366 x 768 Pixels</li>
          <li>20 W Speaker Output</li>
          <li>60 Hz Refresh Rate</li>
          <li>3 x HDMI | 2 x USB</li>
          <li>1 Year Warranty on Product and Additional 1 Year Warranty on Panel</li>
        </ul>
        <div class="d-flex justify-content-between align-items-center">
          <div class="price">₹12,499</div>
          <a href="#" class="btn btn-info" role="button">Buy</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top img-responsive" src="assets/products/lg-32lm560bptc-original-imafjydmy5rwcdw7.jpeg" alt="Card image cap" style="height: 200px; padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">Mi 4A PRO 80 cm (32) HD Ready LED Smart Android TV</h5>
        <ul class="specifications">
          <li>Netflix|Prime Video|Hotstar|Youtube</li>
          <li>Operating System: Android</li>
          <li>HD Ready 1366 x 768 Pixels</li>
          <li>20 W Speaker Output</li>
          <li>60 Hz Refresh Rate</li>
          <li>3 x HDMI | 2 x USB</li>
          <li>1 Year Warranty on Product and Additional 1 Year Warranty on Panel</li>
        </ul>
        <div class="d-flex justify-content-between align-items-center">
          <div class="price">₹12,499</div>
          <a href="#" class="btn btn-info" role="button">Buy</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top img-responsive" src="assets/products/lg-32lm560bptc-original-imafjydmy5rwcdw7.jpeg" alt="Card image cap" style="height: 200px; padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">Mi 4A PRO 80 cm (32) HD Ready LED Smart Android TV</h5>
        <ul class="specifications">
          <li>Netflix|Prime Video|Hotstar|Youtube</li>
          <li>Operating System: Android</li>
          <li>HD Ready 1366 x 768 Pixels</li>
          <li>20 W Speaker Output</li>
          <li>60 Hz Refresh Rate</li>
          <li>3 x HDMI | 2 x USB</li>
          <li>1 Year Warranty on Product and Additional 1 Year Warranty on Panel</li>
        </ul>
        <div class="d-flex justify-content-between align-items-center">
          <div class="price">₹12,499</div>
          <a href="#" class="btn btn-info" role="button">Buy</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top img-responsive" src="assets/products/lg-32lm560bptc-original-imafjydmy5rwcdw7.jpeg" alt="Card image cap" style="height: 200px; padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">Mi 4A PRO 80 cm (32) HD Ready LED Smart Android TV</h5>
        <ul class="specifications">
          <li>Netflix|Prime Video|Hotstar|Youtube</li>
          <li>Operating System: Android</li>
          <li>HD Ready 1366 x 768 Pixels</li>
          <li>20 W Speaker Output</li>
          <li>60 Hz Refresh Rate</li>
          <li>3 x HDMI | 2 x USB</li>
          <li>1 Year Warranty on Product and Additional 1 Year Warranty on Panel</li>
        </ul>
        <div class="d-flex justify-content-between align-items-center">
          <div class="price">₹12,499</div>
          <a href="#" class="btn btn-info" role="button">Buy</a>
        </div>
      </div>
    </div>
  </div>
</div>